exports = module.exports = require("./../../../../../../../node_modules/css-loader/lib/css-base.js")();
// imports


// module
exports.push([module.id, "@keyframes slideIn-3KNC6{0%{transform:translateY(10px);opacity:0}50%{opacity:.7}to{transform:none;opacity:1}}.addTile-IRCe_{display:inline-block;background:rgba(0,0,0,.03);width:60px;height:60px;border-radius:5px;margin:5px 10px 0 0;opacity:0;animation:slideIn-3KNC6 .2s ease-out forwards;animation-delay:inherit}.addTile-IRCe_:link{text-decoration:none}.addTile-IRCe_:after{content:\"+\";width:100%;height:100%;font-family:GT-Walsheim,sans-serif;font-size:32px;color:#948784}.addTile-IRCe_:after,.sectionSuccess-2Z1Jn{display:flex;align-items:center;justify-content:center}.sectionSuccess-2Z1Jn{background:#f2f2f2;height:120px;border-radius:5px;margin-left:10px;margin-top:5px;padding:20px}.successMesssage-1eA7P{text-align:center;color:#333;font-family:GT-Walsheim,sans-serif;font-size:16px;line-height:1.5}", ""]);

// exports
exports.locals = {
	"addTile": "addTile-IRCe_",
	"slideIn": "slideIn-3KNC6",
	"sectionSuccess": "sectionSuccess-2Z1Jn",
	"successMesssage": "successMesssage-1eA7P"
};


//////////////////
// WEBPACK FOOTER
// ./~/css-loader?modules&importLoaders=1&localIdentName=[local]-[hash:base64:5]!./~/sass-loader?outputStyle=compressed&includePaths[]=/home/jenkins/workspace/e_blendle-web-client_master-OGUROC6EFB77SMY4JEEDJFQNHMRBT3ZLBPPHNIGXKGWDHSUDQKLQ/src/scss!./src/js/app/modules/stories/components/SectionEmptyState/style.scss
// module id = 2278
// module chunks = 16