exports = module.exports = require("./../../../../../../../node_modules/css-loader/lib/css-base.js")();
// imports


// module
exports.push([module.id, ".storyTile-1dNt7{position:relative;display:inline-block;z-index:1;font-family:GT-Walsheim,sans-serif;padding-top:6px;text-decoration:none;margin-right:10px;transition:transform .25s ease-out}.container-32F15{position:relative;width:60px;height:60px;opacity:0;animation:slideIn-bJ7aP .2s ease-out forwards;animation-delay:inherit}.completedOverlay-24QXp{position:absolute;left:0;width:100%;height:100%;color:#fff;padding:20px;background:hsla(0,0%,100%,.5);border-radius:6px}.imageContainer-2mdw4{width:60px;height:60px;background:#948784;background:50% no-repeat;background-size:cover;border-radius:6px;display:flex;align-items:center;justify-content:center;overflow:hidden;box-shadow:0 3px 10px rgba(0,0,0,.3),0 10px 10px -10px rgba(0,0,0,.2)}.imageContainer-2mdw4.completed-2zxt1{box-shadow:none;opacity:.3}.icon-3tT8D{position:relative;z-index:3;max-width:50px;max-height:40px}.badge-1eqs8{position:absolute;z-index:3;right:-7px;top:-7px;min-width:18px;background:#ff6255;box-shadow:0 0 0 2px #fff;border-radius:11px;color:#fff;text-decoration:none;font-size:11px;text-align:center;font-weight:900;animation:scaleBadge-3skXL .2s ease-out forwards;animation-delay:inherit}.label-1sJJD{margin-top:4px;color:#333;font-size:12px;text-align:center;max-width:60px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;opacity:0;transition:color .25s ease-out;animation:fadeIn-14-4X .4s ease-out forwards;animation-delay:inherit}.completed-2zxt1 .label-1sJJD{color:rgba(0,0,0,.5)}@keyframes slideIn-bJ7aP{0%{transform:translateY(10px);opacity:0}50%{opacity:.7}to{transform:none;opacity:1}}@keyframes scaleBadge-3skXL{0%{transform:scale(0)}to{transform:scale(1)}}@keyframes fadeIn-14-4X{0%{opacity:0}to{opacity:1}}.storyProvider-2d8Jn .imageContainer-2mdw4:before{content:\"\";border-radius:6px;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.2)}.storyTutorial-UYw54.label-1sJJD{font-weight:600;position:relative}.transitioning-m2DCf{transform:scale(.85)}.transitioning-m2DCf .label-1sJJD{color:transparent}", ""]);

// exports
exports.locals = {
	"storyTile": "storyTile-1dNt7",
	"container": "container-32F15",
	"slideIn": "slideIn-bJ7aP",
	"completedOverlay": "completedOverlay-24QXp",
	"imageContainer": "imageContainer-2mdw4",
	"completed": "completed-2zxt1",
	"icon": "icon-3tT8D",
	"badge": "badge-1eqs8",
	"scaleBadge": "scaleBadge-3skXL",
	"label": "label-1sJJD",
	"fadeIn": "fadeIn-14-4X",
	"storyProvider": "storyProvider-2d8Jn",
	"storyTutorial": "storyTutorial-UYw54",
	"transitioning": "transitioning-m2DCf"
};


//////////////////
// WEBPACK FOOTER
// ./~/css-loader?modules&importLoaders=1&localIdentName=[local]-[hash:base64:5]!./~/sass-loader?outputStyle=compressed&includePaths[]=/home/jenkins/workspace/e_blendle-web-client_master-OGUROC6EFB77SMY4JEEDJFQNHMRBT3ZLBPPHNIGXKGWDHSUDQKLQ/src/scss!./src/js/app/modules/stories/components/StoryTile/style.scss
// module id = 2290
// module chunks = 16