exports = module.exports = require("./../../../../../../../node_modules/css-loader/lib/css-base.js")();
// imports


// module
exports.push([module.id, ".affiliateBanner-POZ8d{display:flex;flex-direction:column;align-items:center;padding:30px 0}@media screen and (min-width:600px){.affiliateBanner-POZ8d{padding:150px 0}}.title-28sC3{font-family:GT-Walsheim,sans-serif;font-weight:900;padding:0 20px;align-self:flex-start}@media (min-width:600px){.title-28sC3{padding:none;font-size:74px;line-height:1;text-align:center;margin:0 auto;max-width:75%}}.subtitle-3EhqI{font-family:GT-Walsheim,sans-serif;font-weight:500;color:#948784;padding:0 20px;align-self:flex-start;margin-top:10px}@media (min-width:600px){.subtitle-3EhqI{padding:none;font-size:22px;text-align:center;margin:20px auto 0;max-width:60%}}.formContainer-1G-8k{width:100%;padding:20px;margin:0 auto}@media (min-width:600px){.formContainer-1G-8k{max-width:340px;margin-top:40px}}.input-329bj{width:100%}.authState-2CxF-{margin-top:20px;display:flex;flex-direction:row}.avatar-tXe_n{border-radius:100%;width:32px;height:32px;flex:0;margin-right:10px}.bannerImage-2bRdo{margin-top:40px;background-color:#f4f4f4;background-size:cover;width:100vw;height:50vh}@media (min-width:600px){.bannerImage-2bRdo{height:80vh}}.emptyBanner-1-SzG{background:#fff;height:100px}@media (min-width:600px){.emptyBanner-1-SzG{height:200px}}.browser-3M0fs{margin-top:-70px;display:none}@media (min-width:600px){.browser-3M0fs{margin-top:-140px}}", ""]);

// exports
exports.locals = {
	"affiliateBanner": "affiliateBanner-POZ8d",
	"title": "title-28sC3",
	"subtitle": "subtitle-3EhqI",
	"formContainer": "formContainer-1G-8k",
	"input": "input-329bj",
	"authState": "authState-2CxF-",
	"avatar": "avatar-tXe_n",
	"bannerImage": "bannerImage-2bRdo",
	"emptyBanner": "emptyBanner-1-SzG",
	"browser": "browser-3M0fs"
};


//////////////////
// WEBPACK FOOTER
// ./~/css-loader?modules&importLoaders=1&localIdentName=[local]-[hash:base64:5]!./~/sass-loader?outputStyle=compressed&includePaths[]=/home/jenkins/workspace/e_blendle-web-client_master-OGUROC6EFB77SMY4JEEDJFQNHMRBT3ZLBPPHNIGXKGWDHSUDQKLQ/src/scss!./src/js/app/modules/premiumSignup/components/AffiliateBanner/style.scss
// module id = 2230
// module chunks = 0