exports = module.exports = require("./../../../../../../../../node_modules/css-loader/lib/css-base.js")();
// imports


// module
exports.push([module.id, ".tweetsContainer-1hUC1{display:flex;flex-direction:column;align-items:center;justify-content:center;overflow:hidden}.sectionTitle-34gsw{position:relative;font-size:3.28571em;text-align:center;margin-bottom:.4em;z-index:1}@media screen and (max-width:600px){.sectionTitle-34gsw{margin-top:150px;font-size:2.57143em}}.sub-ihZRO{display:block;font-size:22px;text-align:center;font-weight:700}@media screen and (max-width:600px){.sub-ihZRO{font-size:16px}}.tweets-3ChwW{position:relative;width:100%;margin-top:120px;min-height:220px}@media screen and (max-width:600px){.tweets-3ChwW{min-height:auto;margin-top:50px}}.tweetsList-1aveX{position:absolute;width:2120px;left:100%;will-change:transform;transition:transform .2s ease-out}@media screen and (max-width:600px){.tweetsList-1aveX{position:relative;width:100%;left:0}}.tweet-2q-rw{display:inline-block;vertical-align:top;width:500px;margin-right:30px}.tweet-2q-rw iframe,.tweet-2q-rw twitterwidget{border-radius:5px;box-shadow:0 2px 4px rgba(0,0,0,.2);overflow:hidden}@media screen and (max-width:600px){.tweet-2q-rw{width:500px;max-width:100%}.tweet-2q-rw:last-of-type{display:none}}.heartsIcon-3PIFz{position:absolute;margin:auto;left:0;right:0;top:0;bottom:0;display:block;z-index:0;animation:heartbeat-3lxth 4.2s infinite ease-in-out}@media screen and (max-width:600px){.heartsIcon-3PIFz{top:80px;bottom:auto}}@keyframes heartbeat-3lxth{0%{transform:scale(1)}3%{transform:scale(1.1)}7%{transform:scale(1)}11%{transform:scale(1.1)}17%{transform:scale(1)}}", ""]);

// exports
exports.locals = {
	"tweetsContainer": "tweetsContainer-1hUC1",
	"sectionTitle": "sectionTitle-34gsw",
	"sub": "sub-ihZRO",
	"tweets": "tweets-3ChwW",
	"tweetsList": "tweetsList-1aveX",
	"tweet": "tweet-2q-rw",
	"heartsIcon": "heartsIcon-3PIFz",
	"heartbeat": "heartbeat-3lxth"
};


//////////////////
// WEBPACK FOOTER
// ./~/css-loader?modules&importLoaders=1&localIdentName=[local]-[hash:base64:5]!./~/sass-loader?outputStyle=compressed&includePaths[]=/home/jenkins/workspace/e_blendle-web-client_master-OGUROC6EFB77SMY4JEEDJFQNHMRBT3ZLBPPHNIGXKGWDHSUDQKLQ/src/scss!./src/js/app/modules/premiumSignup/components/PremiumLanding/LandingTweets/style.scss
// module id = 2250
// module chunks = 0