exports = module.exports = require("./../../../../../../../node_modules/css-loader/lib/css-base.js")();
// imports


// module
exports.push([module.id, ".section-2M01F{background:rgba(0,0,0,.02)}.sectionTop-2zKjR{display:flex;justify-content:space-between;padding:10px 15px 2px}.sectionName-te3as{font-family:GT-Walsheim,sans-serif;font-size:14px}.linkEdit-2jod1:active,.linkEdit-2jod1:hover,.linkEdit-2jod1:link,.linkEdit-2jod1:visited{font-family:GT-Walsheim,sans-serif;color:#948784;text-decoration:none;font-size:12px}.stories-2ZuOB{z-index:101;position:relative;white-space:nowrap;max-width:100vw;min-height:105px;overflow-x:auto;padding:5px 15px 15px;border-bottom:1px solid rgba(0,0,0,.05);-webkit-overflow-scrolling:touch;scroll-snap-type:mandatory;scroll-snap-type-x:mandatory;scroll-snap-destination:50% 50%}.disableScrolling-3_4Gg{overflow:hidden}.placeholdersContainer-ACCgE{position:absolute;left:0;top:0;height:100%;display:flex;align-items:center}", ""]);

// exports
exports.locals = {
	"section": "section-2M01F",
	"sectionTop": "sectionTop-2zKjR",
	"sectionName": "sectionName-te3as",
	"linkEdit": "linkEdit-2jod1",
	"stories": "stories-2ZuOB",
	"disableScrolling": "disableScrolling-3_4Gg",
	"placeholdersContainer": "placeholdersContainer-ACCgE"
};


//////////////////
// WEBPACK FOOTER
// ./~/css-loader?modules&importLoaders=1&localIdentName=[local]-[hash:base64:5]!./~/sass-loader?outputStyle=compressed&includePaths[]=/home/jenkins/workspace/e_blendle-web-client_master-OGUROC6EFB77SMY4JEEDJFQNHMRBT3ZLBPPHNIGXKGWDHSUDQKLQ/src/scss!./src/js/app/modules/stories/components/StoriesSectionWrapper/style.scss
// module id = 2280
// module chunks = 16