exports = module.exports = require("./../../../../../../../node_modules/css-loader/lib/css-base.js")();
// imports


// module
exports.push([module.id, ".icon-3Jo7s{color:#7f7f7f;width:16px;height:24px;cursor:pointer}.sectionContextDropdown-1kv1s{min-width:215px;max-width:300px}.contextMenu-Z-0iM{align-self:flex-end;margin-right:20px;margin-bottom:10px}@media (min-width:600px){.contextMenu-Z-0iM{margin-right:1px}}.optionContent-34-EA{line-height:1.3;display:inline-block;font-family:GT-Walsheim,sans-serif}", ""]);

// exports
exports.locals = {
	"icon": "icon-3Jo7s",
	"sectionContextDropdown": "sectionContextDropdown-1kv1s",
	"contextMenu": "contextMenu-Z-0iM",
	"optionContent": "optionContent-34-EA"
};


//////////////////
// WEBPACK FOOTER
// ./~/css-loader?modules&importLoaders=1&localIdentName=[local]-[hash:base64:5]!./~/sass-loader?outputStyle=compressed&includePaths[]=/home/jenkins/workspace/e_blendle-web-client_master-OGUROC6EFB77SMY4JEEDJFQNHMRBT3ZLBPPHNIGXKGWDHSUDQKLQ/src/scss!./src/js/app/modules/sectionsPage/components/SectionContextMenu/style.scss
// module id = 1642
// module chunks = 1 16